/*Mini screens styles*/
@media only screen
  and (min-width: 280px)
  and (max-width: 480px) {
    *{
      margin: 0px;
      padding: 0px;
  }
  .main{
    display: grid;
    height: 280vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 30vh 200vh 50vh;
    grid-template-areas: "hed hed hed"
    "sec sec sec"
    "fot fot fot";
  }
  .header{
    display: flex;
    flex-direction: row;
    background-color: blue;
    grid-area: hed;
  }
  .section{
    display: flex;
    flex-direction: column;
    background-color: brown;
    grid-area: sec;
  }
  .footer{
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    grid-area: fot;
  }
    
}